@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap');



:root {
  --orange: #D9B04C;
  --darkBlue: #114045;
  --gray: #4F5256;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  color: #fff;
  line-height: 1.5rem;


}

li {

  list-style: none;
}

button {
  cursor: pointer;
}

main {
  height: 100vh;
}

a {
  display: block;
  text-decoration: none;
  color: #fff;
  text-transform: uppercase;
}

header {
  position: relative;
  background-image: url("../img/img1.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;

}

span {
  color: var(--orange);
  cursor: pointer;
}

.container {
  max-width: 100%;

}

.info {
  display: flex;
  width: 93%;
  margin-left: 4rem;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  top: 0px;
  height: 60px;
  border-bottom: 1px solid #fff;
  cursor: default;
}

.info1 {
  width: 100%;
}

.contact {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
}

.phone {
  margin-right: 37.67px;
  display: flex;
  justify-content: space-between;
}

.phone-img,
.email-img {
  margin-right: 0.854rem;
}

.email {
  display: flex;
  justify-content: space-between;

}

.logo-img {
  width: 204px;
}

.drop-down-menu {
  display: flex;
  justify-content: space-between;
  position: absolute;
  top: 76.04px;
  width: 93%;
  margin-left: 4rem;
}

.drop-down-menu ul {
  display: flex;
  width: 100%;
  justify-content: flex-end;
  align-items: center;
}

.drop-down-menu ul li {
  margin-right: 32px;
}

.arrow {
  margin-left: 0.813rem;
}

.btn {
  text-transform: uppercase;
  width: 197px;
  height: 44px;
  border-radius: 4px;
  border: none;
  color: #fff;
  box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
  background-color: var(--orange);
  border: 1px solid var(--orange);
  transition: all 0.3s ease;
}

.btn:hover {
  color: var(--orange);
  background-color: #fff;
  border: none;
}

.content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  text-align: center;
}

.content h2 {
  font-family: 'Playfair Display';
  font-style: normal;
  font-weight: 600;
  font-size: 3rem;
  line-height: 72px;
}

.content h1 {
  font-family: 'Playfair Display';
  font-style: normal;
  font-weight: 600;
  line-height: 72px;
  font-size: 4.125rem;
  margin-bottom: 1.5rem;
  color: var(--orange);
}

.content p {
  width: 57%;
  margin: 0 auto;
  height: 72px;
  font-size: 1.25rem;
}

.cta-btn {
  position: absolute;
  top: 80%;
  left: 50%;
  width: 100%;
  display: flex;
  justify-content: center;
  transform: translate(-50%, -50%);
}

.cta-btn button {
  width: 312px;
  height: 56px;
  border: 1px solid var(--orange);
  border-radius: 4px;
  box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
  color: #fff;
  background-color: var(--orange);
  transition: all 0.3s ease;
}

.cta-btn button:hover {
  color: var(--orange);
  background-color: #fff;
  border: none;
}


/**********MEDIA QUERY********/

@media screen and (max-width:1474px) {
  .info1 {
    width: 100%;
  }

  .contact {
    width: 60%;
  }
}

@media screen and (max-width:1328px) {
  .info {
    display: none;
  }

  .drop-down-menu {
    position: relative;
    top: 3%;
  }

  .drop-down-menu ul {
    width: 75%;
  }

  .drop-down-menu ul li a {
    font-size: 1rem;
  }


}

@media screen and (max-width:1313px) {
  .drop-down-menu ul {
    display: none;
  }
}

@media screen and (max-width:636px) {
  .cta-btn {
    margin-top: 50px;
  }
}

@media screen and (max-width:557px) {
  .cta-btn {
    margin-top: 50px;
  }
}

@media screen and (max-width:521px) {
  .cta-btn {
    margin-top: 100px;
  }
}

@media screen and (max-width:468px) {
  .content {
    top: 35%;
  }

  .content h2 {
    font-size: 2rem;
  }

  .cta-btn {
    margin-top: 120px;
  }
}